.main-layout {
  display: flex;
  min-height: 100vh;
  background: #f1f5f9;
}

.content-wrapper {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin-top: 70px;
  padding: 32px;
  min-height: calc(100vh - 70px);
}
