.main-layout {
  display: flex;
  min-height: 100vh;
  background: #fafafa;
}

.content-wrapper {
  flex: 1;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin-top: 80px;
  padding: 40px;
  min-height: calc(100vh - 80px);
}
